/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  grid-area: header;
  background-color: #676ab6;
}

aside {
  grid-area: navbar;
  background-color: #434267;
}

main {
  grid-area: main;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 60px repeat(auto-fit, minmax(60px, 1fr));
  grid-template-rows: 60px;
  grid-template-areas: 
    "header header header"
    "navbar main main";
} */