// Grid
@mixin grid(
    $disp: grid,
    $gap: null,
    $gtc: null,
    $gtr: null,
    $gta: "header" "navbar" "main",
    $jc: null,
    $ai: null,
) {
    display: $disp;
    grid-gap: $gap;
    grid-template-columns: $gtc;
    grid-template-rows: $gtr;
    grid-template-areas: $gta;
    justify-content: $jc;
    align-items: $ai;
}

// Media query
@mixin mq($brk) {
  $value: map-get($map: $breakpoints, $key: $brk);
  $tablet: map-get($map: $breakpoints, $key: 'tbl');

  @if ($value < $tablet) {
    @media (max-width: $value) {
      @content;
    }
  }
  @else {
    @media (max-width: $value) {
      @content;
    }
  }
}