/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.grid-container {
  @include grid(
    $gtc: 100%,
    $gtr: auto,
    $gta: "header" "navbar" "main"
  );

  .grid-header {
    grid-area: $header;
  }
  
  .grid-nav {
    grid-area: $nav;
  }

  .grid-main {
    grid-area: $main;
    @include grid();
  }
}