/* ============================================= */
/*              Media Queries                    */
/* ============================================= */


@media (min-width: mq('tbl')) {
  .grid-contianer {
    @include grid(
      $gtc: 55px 1fr,
      $gta: "header header" "nav main",
    );
  }
}

@media (min-width: mq('dsk')) {
  .grid-contianer {
    @include grid(
      $gtc: 50%,
      $gta: "header header" "nav main",
    );
  }
}